<a href="https://colab.research.google.com/github/vivek-goyal12/-13-may-/blob/master/hiring_dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np

In [ ]:
import pandas as pd

In [ ]:
from sklearn.linear_model import LinearRegression

In [ ]:
data =  pd.read_csv('hiring.csv')

In [ ]:
data.head()

In [ ]:
data["experience"].fillna("zero",inplace = True)

In [ ]:

data.head()

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0       zero                    8.0                           9      50000
1       zero                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000

In [ ]:
# from skleaarn.preprocessing import LabelEncoder
# a=LabelEncoder()
from sklearn import preprocessing
labelencoder=preprocessing.LabelEncoder()
# data['experience']=labelencoder.fit_transform(data['experience'])
# data['experience'].unique()

In [ ]:
data

   experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0           6                    8.0                           9      50000
1           6                    8.0                           6      45000
2           1                    6.0                           7      60000
3           5                   10.0                          10      65000
4           2                    9.0                           6      70000
5           4                    7.0                          10      62000
6           3                    NaN                           7      72000
7           0                    7.0                           8      80000

In [ ]:
import math
import math
data['test_score(out of 10)'].median()
t1 = math.floor(data['test_score(out of 10)'].median())
# median_test_score(out of 10)
data['test_score(out of 10)']= data['test_score(out of 10)'].fillna(t1)

In [ ]:
clf.fit(data[['experience','test_score(out of 10)','interview_score(out of 10)']],data[['salary($)']])

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [ ]:
print(clf.predict([[2,9,6]]))

[[72016.43913945]]

In [ ]:
print(clf.predict([[12,10,10]]))

[[28973.8879756]]